body {
	background-color: #edf2f4;
}


/*Estilos para el nav */
.navbar {
	font-size: 1.1rem;
	letter-spacing: 0.05rem;
}

.navbar-brand {
	font-size: 1.5rem;
	font-weight: bold;
}

.nav-link {
	padding: 0.75rem 1rem;
}

.navbar-dark .navbar-nav .nav-link {
	color: #ddd;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #fff;
}

.navbar-brand {
	font-weight: bold;
	color: #ffbf00;
}

.navbar-dark .navbar-brand:hover {
	color: #ffd700;
}

.bg-dark {
	background-color: #343a40 !important;
}

.dropdown-menu {
	background-color: #495057;
	border: none;
}

.dropdown-item {
	color: #f8f9fa;
}

.dropdown-item:hover {
	background-color: #6c757d;
	color: #ffffff;
}

/* Estilos para el footer */

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1;
}

.navbar {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 60px;
}

.footer {
	background-color: #333;
	color: white;
	padding: 10px 0;
	flex-shrink: 0;
}