<header th:fragment="header">
	<!-- Header -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="#">NewsPortal</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" href="/api/web/latestNews">Noticias</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Categorias
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item"
									th:href="@{/api/web/latestNews(categoria='Noticias/Cultura')}">Cultura</a>
							</li>
							<li><a class="dropdown-item"
									th:href="@{/api/web/latestNews(categoria='Deportes')}">Deportes</a>
							</li>
							<li><a class="dropdown-item"
									th:href="@{/api/web/latestNews(categoria='Noticias/Ciencia')}">Ciencia y
									tecnología</a>
							</li>
							<li><a class="dropdown-item"
									th:href="@{/api/web/latestNews(categoria='Noticias/Economía')}">Economía</a>
							</li>
							<li><a class="dropdown-item"
									th:href="@{/api/web/latestNews(categoria='Noticias/Especiales')}">Especiales</a>
							</li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item"
									th:href="@{/api/web/latestNews(categoria='Noticias/España')}">España</a>
							</li>
							<li><a class="dropdown-item"
									th:href="@{/api/web/latestNews(categoria='Noticias/Mundo/Latinoamérica')}">Latinoamérica</a>
							</li>
							<li><a class="dropdown-item"
									th:href="@{/api/web/latestNews(categoria='Noticias/Mundo/Asia')}">Asia</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/api/web/register">Registro</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/api/web/login">Login</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<footer th:fragment="footer" class="footer bg-dark text-white mt-auto py-3">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-4">
					<h5>About Us</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="col-md-4">
					<h5>Contact</h5>
					<ul class="list-unstyled">
						<li><a href="#" class="text-white">Email Us</a></li>
						<li><a href="#" class="text-white">Visit Our Office</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<h5>Follow Us</h5>
					<a href="#" class="text-white me-2"><i class="bi bi-facebook"></i></a>
					<a href="#" class="text-white me-2"><i class="bi bi-twitter"></i></a>
					<a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
				</div>
			</div>
		</div>
</footer>